language: clojure
lein: lein
sudo: required
jdk:
  - openjdk8
branches:
  only:
    - master
before_install:
  - 'curl -O https://download.clojure.org/install/linux-install-1.10.1.466.sh'
  - 'chmod +x linux-install-1.10.1.466.sh'
  - 'sudo ./linux-install-1.10.1.466.sh'
script: 'lein with-profile uberjar ring uberjar'
